# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

vendor/
nbproject/
config/db.php
.idea


composer.lock

/web/themes/*/assets/.sass-cache
/backend/themes/*/assets/.sass-cache