#Options -Indexes
Options FollowSymlinks
RewriteEngine on


#RewriteCond %{REQUEST_URI} ^/admin/$
RewriteRule ^(admin)/$ /$1 [R=301,L]
RewriteCond %{REQUEST_URI} ^/admin
RewriteRule ^admin(/.+)?$ /backend/$1 [L,PT]
RewriteRule ^uploads(.*)$ frontend/web/uploads/$1 [L]
RewriteCond %{REQUEST_URI} ^.*$

RewriteRule ^(favicon\.ico|robots\.txt|sitemap\.xml)$ frontend/web/$1 [L]
RewriteRule ^(.*)$ /frontend/$1