/*CLIENT SPECIFIC STYLES*/
#outlook a {
    padding: 0;
}
@media screen {
    /*WEB FONTS*/
    @font-face {
        font-family: "FuturaBook";
        font-style: normal;
        font-weight: normal;
        src: url("https://www.theoutnet.com/outnet/content/2015/images/email/fonts/FuturaBook.eot");
        src: url("https://www.theoutnet.com/outnet/content/2015/images/email/fonts/FuturaBook.eot#iefix") format("embedded-opentype"), url("https://www.theoutnet.com/outnet/content/2015/images/email/fonts/FuturaBook.woff") format("woff"), url("https://www.theoutnet.com/outnet/content/2015/images/email/fonts/FuturaBook.ttf") format("truetype"), url("https://www.theoutnet.com/outnet/content/2015/images/email/fonts/FuturaBook.svg#FuturaBook") format("svg")
    }
    @font-face {
        font-family: "FuturaDemi";
        font-style: normal;
        font-weight: bold;
        src: url("https://www.theoutnet.com/outnet/content/2015/images/email/fonts/FuturaDemi.eot");
        src: url("https://www.theoutnet.com/outnet/content/2015/images/email/fonts/FuturaDemi.eot#iefix") format("embedded-opentype"), url("https://www.theoutnet.com/outnet/content/2015/images/email/fonts/FuturaDemi.woff") format("woff"), url("https://www.theoutnet.com/outnet/content/2015/images/email/fonts/FuturaDemi.ttf") format("truetype"), url("https://www.theoutnet.com/outnet/content/2015/images/email/fonts/FuturaDemi.svg#FuturaDemi") format("svg")
    }
    @font-face {
        font-family: "FuturaLight";
        font-style: normal;
        font-weight: normal;
        src: url("https://www.theoutnet.com/outnet/content/2015/images/email/fonts/FuturaLight.eot");
        src: url("https://www.theoutnet.com/outnet/content/2015/images/email/fonts/FuturaLight.eot?#iefix") format("embedded-opentype"), url("https://www.theoutnet.com/outnet/content/2015/images/email/fonts/FuturaLight.woff") format("woff"), url("https://www.theoutnet.com/outnet/content/2015/images/email/fonts/FuturaLight.ttf") format("truetype"), url("https://www.theoutnet.com/outnet/content/2015/images/email/fonts/FuturaLight.svg#FuturaLight") format("svg")
    }
    @font-face {
        font-family: "FuturaMedium";
        font-style: normal;
        font-weight: normal;
        src: url("https://www.theoutnet.com/outnet/content/2015/images/email/fonts/FuturaMedium.eot");
        src: url("https://www.theoutnet.com/outnet/content/2015/images/email/fonts/FuturaMedium.eot?#iefix") format("embedded-opentype"), url("https://www.theoutnet.com/outnet/content/2015/images/email/fonts/FuturaMedium.woff") format("woff"), url("https://www.theoutnet.com/outnet/content/2015/images/email/fonts/FuturaMedium.ttf") format("truetype"), url("https://www.theoutnet.com/outnet/content/2015/images/email/fonts/FuturaMedium.svg#FuturaMedium") format("svg")
    }
}
/* Force Outlook to provide a "view in browser" menu link. */
body {
    width: 100% !important;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    margin: 0;
    padding: 0;
    font-family: 'FuturaDemi', Futura T W01 Demi, Futura, Avenir, Gill Sans, Helvetica Neue, Arial;
}

/* Prevent Webkit and Windows Mobile platforms from changing default font sizes, while not breaking desktop design. */
.ExternalClass {
    width: 100%;
}

/* Force Hotmail to display emails at full width */
.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
    line-height: 100%;
}

/* Force Hotmail to display normal line spacing.  */
#backgroundTable {
    margin: 0;
    padding: 0;
    width: 100% !important;
    line-height: 100% !important;
}

/* End reset */
@media yahoo {
    .yahoofix {
        width: 640px;
        margin: 0 auto;
    }
}



/*Centered framework*/
.container {
    max-width: 640px !important;
    min-width: 310px;
    display: block !important;
    margin: 0 auto !important;
    clear: both !important;
    background-color: #ffffff;
}

/**Centered two stack bottom text framework**/
.box-container {
    max-width: 640px !important;
    min-width: 310px;
    margin: 0 auto !important;
    clear: both !important;
    background-color: #ffffff;
}

/**Display mobile footer only framework**/
.footer-container {
    max-width: 640px !important;
    min-width: 310px;
    margin: 0 auto !important;
    clear: both !important;
    background-color: #ffffff;
}

/*Responsive fluid image*/
.fluidImage {
    height: auto !important;
    max-width: 640px !important;
    width: 100% !important;
}

.mobile-header {
    min-width: 320px;
}

/*Copy styling*/
.header-title {
    font-family: "FuturaBook", Futura T W01 Book, Futura, Avenir, Gill Sans, Helvetica Neue, Arial;
    font-size: 28px;
    text-transform: uppercase;
    line-height: 30px;
    letter-spacing: 0.7px;
    color: #000000;
    font-weight: 500;
    margin-bottom: -10px;
}

.sub-header {
    font-family: "FuturaLight", Futura T W01 Light, Avenir, Gill Sans, Helvetica Neue, Arial;
    font-size: 17px;
    text-transform: none;
    letter-spacing: 0.7px;
    color: #000000;
    padding-bottom: 2px;
    font-weight: 100;
}

.paragraph {
    font-family: "FuturaBook", Futura T W01 Book, Avenir, Gill Sans, Helvetica Neue, Arial;
    font-size: 17px;
    text-transform: none;
    letter-spacing: 0.7px;
    color: #000000;
    line-height: 25px;
}

.bold-font {
    font-family: "FuturaDemi", Futura T W01 Demi, Futura, Avenir, Gill Sans, Helvetica Neue, Arial;
    font-size: 15px;
    font-weight: 700;
    text-transform: none;
    color: #000000;
    letter-spacing: 0.7px;
    padding-bottom: 10px;
}

/*Add class for italic font header on two stack module*/
.italic-font {
    font-family: "Futura Std Light Oblique", Futura, Avenir, Gill Sans, Helvetica Neue, Arial;
    font-size: 28px;
    font-style: italic;
    text-transform: uppercase;
    color: #000000;
    line-height: 30px;
    letter-spacing: 0.7px;
    font-weight: 200;
}

/*Add class for lighter font bodycopy on two stack module*/
.light-sell {
    font-family: "FuturaLight", Futura T W01 Light, Avenir, Gill Sans, Helvetica Neue, Arial !important;
    font-size: 17px;
    text-transform: none !important;
    letter-spacing: 0.7px;
    color: #000000;
    line-height: 25px;
    font-weight: 100 !important;
}

.appleLinksWhite a {
    color: #ffffff !important;
    text-decoration: underline;
}

.appleLinksBlack a {
    color: #000000 !important;
    text-decoration: none;
}

/*PIDS module*/
.resize90percent {
    width: 90% !important;
    height: auto !important;
}

.resize100percent {
    width: 100% !important;
    height: auto !important;
}

td[class=padleft] {
    padding-left: 5px !important;
    padding-right: 0px !important;
}

td[class=padright] {
    padding-left: 0px !important;
    padding-right: 5px !important;
}

/*Viewoport styling mobile*/
@media screen and (max-width: 310px) {
    .desktop-only {
        display: none !important;
    }

    .desktop-view310 {
        display: none !important;
    }

    .mobile-border {
        display: none !important;
    }

    .show-mobile-image310 {
        overflow: visible !important;
        float: none !important;
        display: inline-table !important;
        line-height: 100% !important;
    }
}

@media screen and (max-width: 550px) {
    /**STACKABLE FOOTER CSS**/
    td[class="pattern"] .desktop-footer {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    td[class="pattern"] .desktop-footer-social {
        padding-right: 0 !important;
        width: 100%;
    }

    td[class="pattern"] .desktop-footer-main {
        display: none;
    }

    td[class="pattern"] .desktop-footer-small {
        display: table-cell !important;
        width: 100% !important;
        height: auto !important;
        max-height: inherit !important;
        overflow: visible !important;
        float: none !important;
        padding-bottom: 10px;
    }

    td[class="pattern"] .desktop-footer-small {
        width: 100%;
        display: block !important;
    }

    td[class="product_description"] {
        padding-left: 0;
    }

    .resize310 {
        width: 100% !important;
    }

    .remove550view {
        display: none !important;
    }
}

@media only screen and (max-width: 480px), (max-device-width: 480px) {
    .scale {
        width: 100% !important;
        height: auto !important;
    }
}

@media only screen and (max-width: 600px) {
    .pid-table {
        width: 100% !important;
    }

    .nomob {
        display: none !important;
    }

    .pidspacer-mob {
        padding-top: 30px;
    }

    *[class=float100percent] {
        width: 100% !important;
        float: left;
        display: block;
    }

    .oneRowpid {
        width: 100% !important;
    }

    /*one row pid style*/
    .pidwidth150 {
        width: 150px !important;
    }

    .no-padding-mob {
        padding: 0 !important;
    }
}

@media screen and (max-width: 767px) {
    body {
        padding: 0;
    }

    .serviceContainer {
        padding-left: 20px;
        padding-right: 20px;
    }
}

/**Two stack responsive center fix**/
@media screen and (max-width: 630px) {
    .mob-inline {
        display: inline-table !important;
    }

    .column-padding {
        padding-top: 20px;
    }

    /**center align element fix**/
    .width100Fix {
        width: 100% !important;
    }

    /**center align element fix for 640 main images**/
    .fluidImageMain {
        height: auto !important;
        max-width: 640px !important;
        width: 100% !important;
    }
}

/*Viewoport styling desktop*/
@media screen and (max-width: 640px) and (max-width: 1024px) {
    .desktop-view {
        display: block !important;
    }

    .desktop-view310 {
        display: block !important;
    }

    .mobile-view {
        display: none !important;
    }

    /**two stack module**/
    *[class].responsive-columnStack {
        width: 320px !important;
    }

    .desktop-header {
        display: inline-table !important;
        max-width: 640px;
        width: 100%;
    }

    /**two stack module with right text**/
    td[class="pattern"] .product_image img {
        width: 100%;
        height: auto !important;
    }

    td[class="product_description"] {
        padding-left: 10px;
    }
}

/*Viewoport styling landscape mobile*/
@media screen and (max-width: 480px) {
    .mobile-view {
        display: block !important;
    }

    .desktop-view {
        display: none !important;
    }

    .greyribbon-mob {
        margin-top: -10px;
        padding-bottom: 24px;
    }

    /*Gmail fix**/
    .show-mobile-header {
        overflow: visible !important;
        float: none !important;
        display: block !important;
        line-height: 100% !important;
        margin-bottom: 27px !important;
    }

    .show-mobile-footer {
        overflow: visible !important;
        float: none !important;
        display: block !important;
        line-height: 100% !important;
        margin-bottom: 15px !important;
    }

    .show-mobile-image480 {
        overflow: visible !important;
        float: none !important;
        display: inline-table !important;
        line-height: 100% !important;
    }

    .show-mobile-probs {
        overflow: visible !important;
        float: none !important;
        display: block !important;
        line-height: 100% !important;
    }

    .mobile-border {
        width: 2% !important;
    }

    .padding-top {
        padding-top: 20px;
    }

    .terms_and_co {
        padding-top: 150px;
    }

    /*two stack module full width*/
    *[class].responsive-columnStack, *[class].responsive-columnStack img {
        width: 100% !important;
        height: auto !important;
    }

    /**two stack module with right text**/
    td[class="pattern"] .product {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    td[class="pattern"] .product_description {
        padding-right: 0 !important;
        width: 100%;
    }

    td[class="pattern"] .product_image {
        display: none;
    }

    td[class="pattern"] .product_image_small {
        display: table-cell !important;
        width: 100% !important;
        height: auto !important;
        max-height: inherit !important;
        overflow: visible !important;
        float: none !important;
        padding-bottom: 10px;
    }

    td[class="pattern"] .product_image_small img {
        width: 100%;
        display: block !important;
    }

    td[class="product_description"] {
        padding-left: 0;
    }

    /**FIRST HEADER & NAV SPACER **/
    .header-title {
        padding-top: 20px;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .padding-top, .first-module {
        height: 5px;
    }

    .first-module-image {
        height: 30px;
    }

    td[class="product_description"] {
        padding-left: 0;
    }
}

/**TWO STACK MODULE COPY CSS**/
*[class].column_intro {
    font-family: "FuturaLight", Futura T W01 Light, Avenir, Gill Sans, Helvetica Neue, Arial;
    font-size: 17px;
    text-transform: none;
    letter-spacing: 0.7px;
    line-height: 25px;
    font-weight: 100;
    color: #000000;
}

*[class].column_headline {
    font-family: "FuturaLight", Futura T W01 Light, Futura, Avenir, Gill Sans, Arial;
    font-weight: 200;
    font-size: 28px;
    text-transform: uppercase;
    line-height: 30px;
    letter-spacing: 0.7px;
    color: #000000;
}

*[class].column_body_copy {
    font-family: "FuturaBook", Futura T W01 Book, Avenir, Gill Sans, Helvetica Neue, Arial;
    font-size: 17px;
    text-transform: none;
    letter-spacing: 0.7px;
    color: #000000;
    line-height: 25px;
}

/**TWO STACK MODULE RIGHT TEXT CSS**/
*[class].twocolumn_tab {
    font-family: "FuturaLight", Futura T W01 Light, Futura, Avenir, Gill Sans, Arial;
    font-size: 14px;
    text-transform: none;
    letter-spacing: 1.5px;
    line-height: 25px;
    text-transform: uppercase;
    font-weight: 100;
}

*[class].twocolumn_intro {
    font-family: "FuturaLight", Futura T W01 Light, Avenir, Gill Sans, Helvetica Neue, Arial;
    font-size: 17px;
    text-transform: none;
    letter-spacing: 0.7px;
    line-height: 25px;
    font-weight: 100;
}

*[class].twocolumn_headline {
    font-family: "FuturaLight", Futura T W01 Light, Futura, Avenir, Gill Sans, Arial;
    font-weight: 200;
    font-size: 28px;
    text-transform: uppercase;
    line-height: 30px;
    letter-spacing: 0.7px;
}

*[class].mini_promo_headline {
    font-family: "FuturaBook";
    Font-weight: 900
}

*[class].mini_promo_body_copy {
    font-family: "FuturaBook", Futura T W01 Book, Avenir, Gill Sans, Helvetica Neue, Arial;
    font-size: 15px;
    text-transform: none;
    letter-spacing: 0.7px;
    color: #000000;
    line-height: 22px;
}

*[class].twocolumn_body_copy {
    font-family: "FuturaBook", Futura T W01 Book, Avenir, Gill Sans, Helvetica Neue, Arial;
    font-size: 17px;
    text-transform: none;
    letter-spacing: 0.7px;
    color: #000000;
    line-height: 25px;
}